<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sof</title>

<body>

<!-- Accueil -->

<header id="accueil" th:fragment="header(utilisateurAuthentifier)">
    <div class="row">
        <div class="col-12">
            <nav id="navigationBarre">
                <a th:href="@{|/|}" class="liensNav">Accueil</a>
                <a th:href="@{|/newsletter/${utilisateurAuthentifier.getIdUtilisateur()}|}" class="liensNav">Newsletter</a>
                <a th:href="@{|/ajoutConcert/${utilisateurAuthentifier.getIdUtilisateur()}|}" class="liensNav" onclick="toggleNav()">Concert</a>
                <a th:href="@{|/conversationAdministrateur/${utilisateurAuthentifier.getIdUtilisateur()}|}" class="liensNav" onclick="toggleNav()">Conversation</a>
                <a class="icon" id="icon" onclick="toggleNav()"><i class="fas fa-bars"></i></a>
            </nav>
        </div>
    </div>
</header>

</body>
</html>