
/* NAVIGATION */


@media (max-width: 768px) {

    #lien_icone a {
        margin: 0.5rem;
        color: #f7f7f7;
    }

    #lien_deconnection a {
        font-size: 1.4rem;
        color: #f7f7f7;
    }

#div_icone{
    padding-left: 0;
}

#div_deconnection{
    padding-right: 0;
}

#barre_menu_texte{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


#navigationBarre a:not(:nth-child(6)) {
    display: none;
}
    #navigationBarre a {
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Kaushan Script';
        color: #f7f7f7;
        margin : 0rem 0rem 0rem 0rem;
    }
.icon {
    display: block;
    position: center;
    right: -3rem;
    top: -1.6rem;
    cursor: pointer;
    color: #373737;
    font-size: 3rem!important;
}

#barre_menu {
    width: 100%;
    text-align: center;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid #373737;
}

#barre_menu.responsive {
    height: 38rem;
}

#navigationBarre.responsive a:not(:nth-child(6)) {

    display: block;
    text-align: center;
    background: #F0EAd6;
    margin: 0;
    position: relative;
    top: 4rem;
    font-size: 3rem;

}


    header {
        height: 73vh;
    }

    h1 {
        margin: 0;
        top: 25rem;
        font-size: 1rem;
    }
    header h2 {
        top: 24rem;
        font-size: 1.5rem;
        width: 80%;
        margin: auto;
    }

    .iframe_container{
        width: 100%;
    }

    .iframe_container::after{
        content:"";
        display: block;
        width: 100%;
        padding-bottom: calc(315/560*100%);
    }

    iframe{
        width: 100%;
        height: 100%;
    }


    header #arrow {
        height: 5rem;
        width: 5rem;
        top: 65%;
        font-size: 2.5rem;
        line-height: 5rem;
    }

    #contact {
        height:104rem;
    }

}







