h1{
    font-size: 5em;
    color: aliceblue;
    height: 115px;
    font-family: 'Niconne', cursive;
}

#head{
    background-color: blueviolet;
    height: 115px;
}

.largeur_onglet_menu{
    width: 180px;
    text-align: center;
}

.police_onglet_menu{
    color: aliceblue;
    font-size: 1.3em;
    font-family: 'Rajdhani', sans-serif;
}

body{
    background-image: url("../photoSite/sophie_acceuil908.jpg");
    background-position: center center;
    background-repeat: no-repeat;

    background-color: #464646;
    margin: 0;
    height: 100%;
}


.jumbotron{
    margin-top: 3.4%;
    opacity: 82%;
}