html{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f7f7f7, #d4d1d5) no-repeat;

}

.message_erreur{
    font-size: 1.7rem;
}

.message_modification_compte {
    font-size: 1.7rem;
}

.ensemble_retour_accueil{
    display: flex;
    height: 10rem;
    min-height: 10rem;
    color: blueviolet;
}

.ligne_retour_accueil{
    height: 10rem;
    min-height: 10rem;
    color: blueviolet;
}

.retour_accueil_icone{
    font-size: 2rem;
    text-decoration: none;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3rem;
}

.text_retour_accueil{
    font-size: 2rem;
    float: right;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1rem;
}

.text_retour_accueil a{
    text-decoration: none;
}

.ensemble_titre_authentification{
     margin-top: 4rem;

}

.titre_authentification{
    color: blueviolet;
    font-size: 4rem;
    border-bottom: 0.1rem solid #575659;
    border-top: 0.1rem solid #575659;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #e8bb8c;
    opacity: 80%;
}

.ensemble_photo_authentification{
    margin-top: 7rem;
    margin-left: 5rem;
}

.photo_authentification{
    max-width: 75%;
}

.formulaire_inscription{
    margin-top: 10rem;
}

.formulaire_inscription_identite{
    border-bottom: 0.1rem solid #575659;
    padding-bottom: 4rem;
}

.text_form_inscription_nom{
    font-size: 2.1rem;
}

.text_form_inscription_prenom{
    font-size: 2.1rem;
}

.formulaire_inscription_coordonne{
    border-bottom: 0.1rem solid #575659;
    padding-bottom: 5rem;
}

.text_form_inscription_adresse{
    padding-top: 3rem;
    font-size: 2.1rem;
}

.text_form_inscription_complement{
    padding-top: 2rem;
    font-size: 2.1rem;
}

.text_form_inscription_ville{
    padding-top: 2rem;
    font-size: 2.1rem;
}

.text_form_inscription_codePostal{
    padding-top: 2rem;
    font-size: 2.1rem;
}

.formulaire_inscription_authentification{
    padding-bottom: 4rem;
    border-bottom: 0.1rem solid #575659;
}

.text_form_inscription_email{
    padding-top: 3rem;
    font-size: 2.1rem;
}

.text_form_inscription_confEmail{
    padding-top: 3rem;
    font-size: 2.1rem;
}

.text_form_inscription_mdp{
    padding-top: 2rem;
    font-size: 2.1rem;
}

.text_form_inscription_confMdp{
    padding-top: 2rem;
    font-size: 2.1rem;
}

.police_creation_compte{
    font-size: 1.5rem;
}

#formulaire_inscription_00{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_01{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_02{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_03{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_04{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_05{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_06{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_07{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_08{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_09{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_inscription_010{
    height: 3rem;
    max-height: 3rem;
}

.bouton_modification{
    padding: 1rem 6rem 1rem 6rem;
    margin-top: 6rem;
    font-size: 1.5rem;
}

@media (max-width: 1920px) {
    html{
        font-size: 55%;
    }

    .retour_accueil_icone{
        font-size: 1.9rem;
        margin-right: 1rem;
        margin-left: 0;
    }

    .ensemble_retour_accueil{
        height: 8rem;
        min-height: 8rem;
    }

    .text_retour_accueil{
        font-size: 1.9rem;
        margin-left: 0;
    }

    .photo_authentification{
        max-width: 70%;
    }

    .formulaire_inscription{
        margin-top: 8rem;
    }

    .formulaire_inscription_identite{
        padding-bottom: 1.5rem;
    }


    .formulaire_inscription_coordonne{
        padding-bottom: 1.5rem;
    }

    .text_form_inscription_adresse{
        padding-top: 1.5rem;
    }

    .text_form_inscription_complement{
        padding-top: 1.5rem;
    }

    .text_form_inscription_ville{
        padding-top: 1.5rem;
     }

    .text_form_inscription_codePostal{
        padding-top: 1.5rem;
    }

    .formulaire_inscription_authentification{
        padding-bottom: 1.5rem;
    }

    .text_form_inscription_email{
        padding-top: 1.5rem;
    }

    .text_form_inscription_confEmail{
        padding-top: 1.5rem;
    }

    .bouton_modification{
        margin-top: 3rem;
    }
}
