html {
    font-size: 62.5%;
}


body {
    margin: 0;
    font-family: 'Lato', 'sans-serif';
    background-color: #f7f7f7;

}


/* Navigation */

#navigationBarre {
    position: fixed;
    overflow: hidden;
    z-index: 40;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 55% 70%, 50% 90%, 45% 70%, 0% 70%);
    transition: all 0.4s ease-in-out;
    /* anim GS */
    opacity: 0;

}

#navigationBarre a {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem 5rem;
    line-height: 6.5rem;
    font-family: 'Kaushan Script';
    margin: auto;
    color: #f7f7f7;
}

#navigationBarre a:first-child{
    margin-left: 4rem;
}

#navigationBarre a:active {
    font-size: 4rem;
}

#lien_icone{
    position: fixed;
    z-index: 40;

    transition: all 0.4s ease-in-out;
    text-align: end;
    /* anim GS */
    opacity: 0;
}

#lien_icone a {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem 2rem;
    line-height: 6.5rem;
    font-family: 'Kaushan Script';
    margin: auto;
    color: #f7f7f7;
}

#lien_icone a:active {
    font-size: 4rem;
}

#soundcloud{
    margin-left: 50rem;
}

.icon {
    display: none;
}

/* Header accueil */

header {
    height: 100vh;
    width: 100%;
    background: url("../ressources/sof_accueil.jpg");
    background-size: cover;
    background-position: top;
}

#video{
    position: relative;
    top: 29%;
    left: 60%;
}

h1 {
    margin-left: 65%;
    color: blueviolet;
    position: relative;
    top: 23rem;
    font-family: 'Kaushan Script';
    font-size:18rem;
    /* Anim GS */
    opacity: 0;
}

header h2 {

    margin-left: 60%;
    color: blueviolet;
    position: relative;
    top: 26rem;
    font-family: 'Abril Fatface';
    font-size: 3rem;
    letter-spacing: 0.2rem;
    /* Anim GS */
    opacity: 0;
}

header #arrow {
    color: black;
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    color: blueviolet;
    line-height: 9rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
    /* Anim GS */
    opacity: 0;
}


@keyframes pulse {
    to
    {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}

/* première section concert avec 3 photos */


.section-bio {
    background-color: #f7f7f7;
    padding-bottom: 10rem;
}

.centerH {
    text-align: center!important;
    margin-bottom: 8rem!important;
}

.titreBio {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: #e8bb8c;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    padding-top: 8.5rem;

}

.ligne {
    max-width:114rem;
    margin: 0 auto;
}

.ligne::after {
    content: "";
    display: table;
    clear: both;
}

.ligne [class^="col-"] {
    float: left;
}

.ligne [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

.ligne .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.sousTitreBio {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem!important;
    color: blueviolet;
}

.paragraphe {
    font-size: 1.9rem;
}

.paragraphe:not(:last-child) {
    margin-bottom: 3rem;
}


.composition {
    position: relative;
}


.composition_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
}

.composition_photo--1 {
    left: 0;
    top: -2rem;
}
.composition_photo--2 {
    right: 0;
    top: 2rem;
}
.composition_photo--3 {
    left: 20%;
    top: 10rem;
}


.composition_photo:hover {
    outline: 1.5rem solid blueviolet;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
    z-index:30;
}
.composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95);
}


/* Section Concerts */

#concerts {
    border-top: 1px dashed rgb(80, 79, 75);
    background: #e8bb8c;
    height:90rem;
}


#concerts h2 {
    text-align: center;
    font-size: 4rem;
    background: #e8bb8c;
    background-color: blueviolet;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding-top: 8.5rem;
}


.composition_photo_concert {
    max-width: 15%;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
}

.composition_photo_concert--1 {
    left: 15rem;
    margin-top: 13rem;
}
.composition_photo_concert--2 {
    left: 40rem;
    margin-top: 21rem;
}
.composition_photo_concert--3 {
    left: 65rem;
    margin-top: 29rem;
}

.composition_photo_concert:hover {
    outline: 1.5rem solid blueviolet;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
    z-index:30;
}
.compositionConcerts:hover .composition_photo_concert:not(:hover) {
    transform: scale(0.95);
}

.tableau_concert{
    padding-top: 6rem;
    font-size: 2rem;
}

.sous_titre_concert-1{
    font-size: 3rem;
    font-family: 'Kaushan Script';
    color: blueviolet;
}

.sous_titre_concert-2{
    margin-top: 6rem;
    font-size: 3rem;
    font-family: 'Kaushan Script';
    color: blueviolet;
}

.concert_venir{
    margin-top: 2rem;
    height: 17rem;
    max-height: 17rem;
    overflow-y:scroll;
}

.concert_historique{
    margin-top: 2rem;
    max-height: 25rem;
    overflow-y:scroll;
}

* {
    scrollbar-width: thin;
    scrollbar-color: blueviolet #e8bb8c;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1.5rem;

}

*::-webkit-scrollbar-track {
    background: #e8bb8c;
}

*::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 20px;
    border: 3px solid #e8bb8c;
}


/* section paralax */

.section-parallax {
    width: 100%;
    height: 45rem;
    background: url("../ressources/sof_accueil.jpg") no-repeat right / cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

/* Album */

#album {
    background-color: #f7f7f7;
    background-image: linear-gradient(#eee6e6, #f7f7f7);
    padding-bottom: 5rem;
}

.centerH {
    text-align: center!important;
    margin-bottom: 8rem!important;
}

.titreAlbum {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: #e8bb8c;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    padding-top: 8.5rem;
}

#sous_titre_ep{
    font-size: 3rem;
    color: blueviolet;
    padding-top: 6rem;
    padding-bottom: 7rem;
}

#sous_titre_commander{
    font-size: 3rem;
    color: blueviolet;
    padding-top: 6rem;
    padding-bottom: 7rem;
}

.photo_album{
    max-width: 100%;
    margin-bottom: 10rem;
}

.photo_EP_front{
    max-width: 30%;
    box-shadow:5px 5px 10px #575659;


}

.photo_CD{
    max-width: 30%;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;

    box-shadow: 5px 5px 10px #575659;
}

.lecteurs{
    background-color: #575659;
    padding-bottom: 5rem;
    margin-top: 12rem;
    border-radius: 2rem;
}


.lecteur_1{
    margin-top:5rem;

}

.lecteur_2{
    margin-top:5rem;
}

.lecteur_3{
    margin-top:5rem;
}

.lecteur_4{
    margin-top:5rem;
}

.titre_ep{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    font-family: 'Kaushan Script';
    color: #e8bb8c;
}

audio{
    width: 60%;
    color: #333333;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}


.authentification_globale{
    padding-bottom: 5rem;
    margin-top: 8.5rem;
    border-radius: 2rem;
    border: 0.1rem solid #575659;
    height: 662px;
    width: 560px;
}

.titre_authentification{
    color: #575659;
    font-size: 3rem;
    margin-top: 5rem;
}

.prix_EP{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.paragraphe_authentification_1{
    color: #575659;
    font-size: 2rem;
    margin-top: 5rem;
}

.paragraphe_authentification_2{
    color: #575659;
    font-size: 2rem;
    margin-top: 2rem;
}

.paragraphe_authentification_3{
    color: #575659;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.form-label{
    font-size: 1.3rem;
}

.validationAuthentification{
    border-radius: 2rem;
    border: 0.1rem solid #575659;
    padding: 3rem;
}

.texte_champ_username{
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.5rem;
}

.texte_champ_mot_de_passe{
    height: 3rem;
    font-size: 1.5rem;
}

.texte_username_authentification{
    font-size: 1.5rem;
}

.texte_motDePasse_authentification{
    font-size: 1.5rem;
}

.texte_pas_de_compte{
    font-size: 1.3rem;
}

.bouton_authentification{
    padding: 1rem 3rem 1rem 3rem;
}

/* Section Contact */

#contact {
    border-top: 1px dashed rgb(80, 79, 75);
    background-color: #f7f7f7;
    background-image: linear-gradient(#f7f7f7, #eee6e6);
    height:132rem;
}


.titreContact {
    text-align: center;
    font-size: 4rem;
    color: blueviolet;
    text-transform: uppercase;
    padding-top: 8.5rem;
}

.photo_contact{
    max-width: 80%;
}

.envoi_mail{
    height: 63rem;
    border: 0.1rem solid #575659;
    margin-bottom: 3rem;
    margin-right: 7rem;
}

.ligne_envoi_mail{
    height: 20%;
    max-height: 20%;
    margin: 0;
}

.titre_envoi_mail{
    padding-top: 5rem;
    font-size: 3rem;
}

.text_form_mail{
    font-size: 2rem;
    padding-top: 2rem;
}

.formulaire_envoi_mail{
    height: 80%;
    max-height: 80%;
}

#formulaire_envoi_mail_01{
    height: 3rem;
    max-height: 3rem;
}

#formulaire_envoi_mail_02{
    padding-top: 1rem;
    height: 3rem;
    max-height: 3rem;
}

#formulaire_envoi_mail_03{
    padding-top: 1rem;
    height: 15rem;
    max-height: 15rem;
}

.bouton_mail{
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 4rem;
}

.newsletter{
    height: 34rem;
    border: 0.1rem solid #575659;
    margin-right: 7rem;
}

.ligne_newsletter{
    height: 35%;
    max-height: 35%;
    margin: 0;
}

.titre_newsletter{
    padding-top: 5rem;
    font-size: 3rem;
}

.formulaire_inscription_newsletter{
    height: 65%;
    max-height: 65%;
}

.text_form_newsletter{
    font-size: 2rem;
    padding-top: 2rem;
}

#formulaire_inscription_newsletter_01{
    padding-top: 1rem;
    height: 3rem;
    max-height: 3rem;
}

.bouton_newsletter{
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 4rem;
}

.texte_mention{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.flexMedias {
    display: flex;
    justify-content: center;
}


.medias {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.medias a {
    text-decoration: none;
    color: black;
}

.footer{
    padding-top: 2rem;
}